<%= image_tag("building.jpg", id: "main-image") %>
<div id="title-text">Solve It USA</div>
<div id="main-content-wrapper">
	<div id="main-content">
		<div class="info">
			<div class="icon"><%= image_tag("book.png", class: "icon-image") %></div>
			<div class="title">Learn</div>
			<div class="content">On the learn page, you can learn about violence so you have the information you need find solutions.</div>
		</div>	
		<div class="info">
			<div class="icon"><%= image_tag("comments.png", class: "icon-image") %></div>
			<div class="title">Discuss</div>
			<div class="content">When you talk with people you agree with, you learn what solution you want.  When you talk with people you disagree with, you learn what solution is possible.</div>
		</div>
		<div class="info">
			<div class="icon"><%= image_tag("light.png", class: "icon-image") %></div>
			<div class="title">Solve</div>
			<div class="content">We know you have a lot of ideas, so pick your best solution to violence in your community and turn your idea into an action plan.</div>
		</div>	
		<div class="info">
			<div class="icon"><%= image_tag("people.png", class: "icon-image") %></div>
			<div class="title">Impact</div>
			<div class="content">Get started with your action plan or give your plan to legislators, public safety councils, or neighborhood councils.</div>
		</div>
	</div>	
</div>
