<!DOCTYPE html>
<html>
<head>
	<title>Solve It USA</title>

	<!-- Use normalize.css to make it look the same across browsers -->
	<link rel="stylesheet" type="text/css" href="https://raw.githubusercontent.com/necolas/normalize.css/master/normalize.css" />

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500,300,900,100' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="assets/main_page.css" />
	<script src="assets/jquery-1.9.1.js"></script>
	<script src="assets/script.js"></script>

</head>
<body>
	<div id="header">
		<ul id="menu">
			<!-- need to add the links, change accordingly to match name of your file -->
			<li class='header_item'><a href='/'/ id = 'home'>Home</a></li>
			<li class='header_item'><a href='/about'/ id ='about'>About</a></li>
			<li class='header_item' id = 'forums'><%= link_to t('forem.forum.forums'), forem.forums_path %></li>
			<li class='header_item'><a href='/contact' id ='contact'>Contact</a></li>
			<li class ="header_item right_item">
				<% if user_signed_in? %>
					<%= link_to('Edit registration', main_app.edit_user_registration_path(@user)) %>
				<% else %>
					<div id='signup'>Register</div>
						<%= form_for(:user, :url => registration_path(:user)) do |f| %>
						<div id="modal-container_signup" class = "modal-container">
							<div id="modal-overlay_signup" class="modal-overlay"></div>
							<div class="modal-box-wrapper">
								<div class="modal-box">
									<div class="modal-header">Register</div>
									<div class="modal-content">
										<%= f.text_field :email, class: "inputbox", placeholder: "enter email here" %>
										<%= f.password_field :password, class: "inputbox", placeholder: "enter password here" %>
    										<%= f.password_field :password_confirmation, class: "inputbox", placeholder: "enter password again"  %>
										<%= f.check_box :remember_me %>
										<%= f.label :remember_me %>
									</div>
										<%= f.submit 'Register', class: "button", id: "button-submit" %>
										<%= button_tag 'Cancel', :type => 'reset', class: "button", id: "button-cancel" %>
								</div>
							</div>
						</div>
					<% end %>
				<% end %>	
			</li>
			<li class ="header_item right_item">
				<% if user_signed_in? %>
					<%= link_to('Logout', destroy_user_session_path, :method => :delete, id: "logout") %>        
				<% else %>
					<div id='login'>Sign in</div>
						<div id="modal-container_login" class="modal-container">
							<%= form_for(:user, :url => session_path(:user)) do |f| %>
								<div id="modal-overlay_login" class="modal-overlay"></div>
								<div class="modal-box-wrapper">
									<div class="modal-box">
										<div class="modal-header">Sign in</div>
										<div class="modal-content">
										  <%= f.text_field :email, class: "inputbox", placeholder: "enter email here" %>
										  <%= f.password_field :password, class: "inputbox", placeholder: "enter password here" %>
										  <%= f.check_box :remember_me %>
										  <%= f.label :remember_me %>
										  </br>
										  <%= link_to "Forgot your password?", new_password_path(:user) %>
										</div>
										<%= f.submit 'Sign in', class: "button", id: "button-submit" %>
										<%= button_tag 'Cancel', :type => 'reset', class: "button", id: "button-cancel" %>
									</div>
								</div>
						<% end %>
					</div>
				<% end %>
			</li>
		</ul>
		<% if notice %><div id = "alert-bar"><p class="alert alert-success"><%= notice %></p></div><% end %>
		<% if alert %><div id = "alert-bar"><p class="alert alert-danger"><%= alert %></p></div><% end %>	
	</div>
<div id='forums_container'>
  <h1 id='forums_title'><%= t('.title') %></h1>

  <%= render @categories %>
</div>

	<div id="footer">
		<h7><div id='copyright'>copyright &#169; Solve It USA</div></h7>
	</div>
